In [28]:
# Import library
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
# Load data dari file Excel
df = pd.read_excel('Canada.xlsx', sheet_name=None)

1. Pembersihan Data

a. Hapus kolom kosong

In [33]:
# Hapus kolom yang seluruh nilainya NaN dari df['Canada by Citizenship']
df_drop = df['Canada by Citizenship'].dropna(axis=1, how='all')

In [34]:
# Periksa struktur data dan nama kolom
print("Kolom dalam dataset:")
print(df_drop.columns.tolist())
print(f"\nShape data: {df_drop.shape}")
print(f"\nBeberapa baris pertama:")
df_drop.head()

Kolom dalam dataset:
['OdName', 'AreaName', 'RegName', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]

Shape data: (197, 38)

Beberapa baris pertama:

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1

b. Tambahkan kolom baru Total_1980_2013 yang berisi total migran per negara.

In [35]:
# Identifikasi kolom tahun (1980-2013)
year_columns = [col for col in df_drop.columns if isinstance(col, int) and 1980 <= col <= 2013]
print(f"Kolom tahun yang ditemukan: {year_columns}")

# Tambahkan kolom Total_1980_2013 yang berisi total migran per negara
df_drop['Total_1980_2013'] = df_drop[year_columns].sum(axis=1)

# Tampilkan beberapa baris untuk verifikasi
print(f"\nKolom baru 'Total_1980_2013' telah ditambahkan")
print(f"Shape data sekarang: {df_drop.shape}")
print(f"\nBeberapa negara dengan total migran:")
df_drop[['OdName', 'Total_1980_2013']].head(10)

Kolom tahun yang ditemukan: [1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]

Kolom baru 'Total_1980_2013' telah ditambahkan
Shape data sekarang: (197, 39)

Beberapa negara dengan total migran:

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_5980\2189240384.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop['Total_1980_2013'] = df_drop[year_columns].sum(axis=1)

                OdName  Total_1980_2013
0          Afghanistan            58639
1              Albania            15699
2              Algeria            69439
3       American Samoa                6
4              Andorra               15
5               Angola             2113
6  Antigua and Barbuda              981
7            Argentina            19596
8              Armenia             3310
9            Australia            23829

c. Tampilkan 5 negara dengan total imigran tertinggi beserta jumlahnya.

d. Ubah nama kolom pada dataset agar lebih mudah dibaca:
• OdName menjadi Country
• AreaName menjadi Continent
• RegName menjadi Region

2. Analisis

a. Hitung total imigran (dari seluruh negara) per tahun (1980–2013) dan tampilkan tahun dengan
total tertinggi dan terendah.

b. Gambarkan line chart tren total imigran per tahun dengan label sumbu yang jelas. (x=tahun,
y=jumlah imigran)

c. Sebutkan tren umum migrasi ke Kanada berdasarkan grafik tersebut (apakah meningkat,
menurun, atau fluktuatif ?).

3. Analisis Per Wilayah

a. Kelompokkan data berdasarkan AreaName, hitung total imigran 1980–2013 untuk tiap
wilayah.

b. Tampilkan hasilnya dalam bar chart

c. Sebutkan wilayah dengan total imigran terbanyak dan paling sedikit, lalu tulis interpretasi
singkatnya

4. Tambahan:

Lakukan komparasi jumlah imigran dari Pakistan dan Afghanistan selama tahun 1980–2013.
• Hitung total imigran masing-masing negara untuk setiap tahun.
• Buat stacked area chart yang menampilkan kontribusi kedua negara dari tahun ke tahun.
• Jelaskan bagaimana tren migrasi Pakistan dan Afghanistan ke Kanada, apakah salah satu
negara mendominasi, dan bagaimana perubahan dari waktu ke waktu

5. Insight

• Negara mana paling banyak mengirim imigran?
• Benua yang paling berkontribusi terhadap total migran ke Kanada?
• Apakah jumlah migrasi cenderung naik dari tahun ke tahun?