Pada file MODUL.ipynb berikut berisi tentang segala kebutuhan syntax dan fitur struktur data pada Python yang perlu kalian ketahui untuk Struktur Data di Python, Namun perlu diingat bahwa tidak seluruh fitur yang ada pada Python akan dibahas dalam satu file .ipynb, untuk itu perlunya pembelajar lebih lanjut secara mandiri.

Referensi:
https://docs.python.org/3/tutorial/datastructures.html

---
**Pembahasan Pertama**:

- Tipe Data

- Operator Logika Sederhana

- Operator Perbandingan

- Operator Perulangan

- Operator yang digunakan untuk menyimpan nilai

- Fungsi dan Prosedur

---
**Pembahasan Kedua**:

- Class & Object

- Metode
---
**Pembahasan Ketiga**:

- Lingked List Sederhana

# Pembahsan Pertama:

- Tipe Data

- Operator Logika Sederhana

- Operator Perbandingan

- Operator Perulangan

- Operator yang digunakan untuk menyimpan nilai

- Fungsi dan Prosedur

In [ ]:
# Syntax Menyimpan Nilai Sederhana di Python
nama   = "bramasta" + " jaya"
number = 30
weight = 61.5621025
grade  = 'A'
status = False

In [ ]:
# Syntax Print Sederhana di Python
print("nama saya\t:", nama)

print(f"nama saya\t: {nama}")

print( "Nama\t\t: ",nama,
       "\nUsia\t\t: ",number,"years old",
       "\nBerat Badan\t: ", weight)

print(f"Berat Badan jika dibulatkan : {round(weight, 2)}")
# round( float variabel , .n )

nama saya	: bramasta jaya
nama saya	:bramasta jaya
Nama		:  bramasta jaya
Usia		:  30 years old
Berat Badan	:  61.5621025
Berat Badan jika dibulatkan : 61.56

In [ ]:
# Syntax Operator Logika Sederhana di Python
print( not status )      # NEGASI
print( 0 > 1 and 1 > 2 ) # AND
print( 0 > 1 or 1 > 2 )  # OR
print( 10 ^ 9 ," | ", status ^ (not status) )


print( type(nama) )  # type of data
print( 77 + 2 )      # Pertamabahan
print( 77 - 7 )      # Pengurangan
print( 22 / 7 )      # Pembagian
print( 22 * 7 )      # Perkalian
print( 10 % 7 )      # Modulus
print( 10 // 6 )     # Floor Division
print( 77 ** 2 )     # Pangkat

print( (13 // 6 ) * 2/2 ) # Operasi Perkalian

# Syntax Operator Perbandingan Sederhana di Python
print( 'main' == 'main' )
print( 22 >= 7 )
print( 22 <= 7 )
print( 22 > 7 )
print( 22 < 7 )
print( 25 != 25 )

True
False
False
3  |  True
<class 'str'>
79
70
3.142857142857143
154
3
1
5929
2.0
True
True
False
True
False
False

In [ ]:
# Syntax If-Else Sederhana di Python
"""
    0 = False
    1 = True
"""

if True:
    print("condition: ", 0 == True or not 1 == False )
elif(True and False == False):
    print("condition: ", 0 == True and not 1 == False)
else:
    print("False")

condition:  True

In [ ]:
# Syntax Operator Ternary Sederhana

n = int(input("Input n: "))

# If nested using ternary syntax
tern = "Positive" if n > 0 else "Negative" if n < 0 else "Zero"

print(tern)

tern2 = ("Ganjil", "Genap")[n%2==0]

print(tern2)

Input n: 12
Positive
Genap

In [ ]:
    # LIST
list_ = [0,False,2,3,"4"]

# Bersifat Mutable, artinya tipe data yang dapat menyimpan lebih dari satu tipe data dan dapat dimanipulasi (Add, Delete, Update)

j=len(list_)-1 # j mengambil panjang LIST

print(list_[3]) # Mengakses nilai list menggunakan index [3]

list_.append('Pertama') # menambahkan nilai 'False' ke dalam LIST
print("LIST setelag APPEND",list_)

list_.remove('Pertama')
print("LIST setelah REMOVE", list_)

list_.insert(-3,12)
print("LIST setelah INSERT",list_)

list_.pop()
print("LIST setelah POP", list_)

list_.clear()
print("LIST setelah DELETE", list_)




    # TUPLE
tuple_ = (True, 25, 9, 2025, "DS-04-05")

# Bersifat Immutable, sama seperti LIST dapat menyimpan berbagai tipe data, namun nilai yang sudah dibuat tidak dapat di manipulasi

print(tuple_[0]) # Mengakses TUPLE menggunakan index [0]

#tuple.append('ABC') <- Jika dijalankan akan mengalami ERROR karena TUPLE tidak menerima operasi yang menyebabkan data berubah




    # DICTIONARY
dictionary_ = {
    'kelas': 'Struktur Data Python',
    'angkatan':2025,
    'aktif': True,
    1: ['Budi', 'Ahmad', 'Sahroni']} # LIST di dalam DICTIONARY

# Bersifat Mutable, sama seperti LIST dan TUPLE dapat menyimpan berbagai tipe data, namun DICTIONARY menggunakan kunci khusus yang bersifat unik dan dapat digunakan sebagai index untuk menyimpan nilai secara terpisah

print(dictionary_[1]) # Mengakses DICTIONARY menggunakan key [1]
print(dictionary_['angkatan'])




    # SETS
set1 = set('akuanaktel')
set2 = set('telkomsurabaya')
set3 = {10,20,30,40,50}
# set() adalah koleksi tak berurut tanpa elemen duplikat. set pada dasarnya digunakan untuk pengujian keanggotaan dan sets tidak menerima duplikasi nilai.


# Contoh
print(f"Kumpulan nilai set1: {set1}")
print(f"Kumpulan nilai set2: {set2}")
print(f"Kumpulan nilai set3: {set3}")
# Jika kumpulan nilai sets di print, maka dapat dilihat bahwa nilai-nilai yang disimpan tidak terurut atau bersifat acak dan sets tidak menyimpan nilai yang sama lebih dari satu


# Sets umumnya digunakan untuk uji coba anggota nilai seperti berikut:
print("Contoh set1 - set2: ",set1 - set2)
print("Contoh set1 & set2: ",set1 & set2)
print("Contoh set1 | set2: ",set1 | set2)
print("Contoh set1 ^ set2: ",set1 ^ set2)

3
LIST setelag APPEND [0, False, 2, 3, '4', 'Pertama']
LIST setelah REMOVE [0, False, 2, 3, '4']
LIST setelah INSERT [0, False, 12, 2, 3, '4']
LIST setelah POP [0, False, 12, 2, 3]
LIST setelah DELETE []
True
['Budi', 'Ahmad', 'Sahroni']
2025
Kumpulan nilai set1: {'l', 'a', 'n', 'k', 't', 'u', 'e'}
Kumpulan nilai set2: {'y', 'l', 'm', 'r', 's', 'a', 'b', 'k', 'o', 't', 'u', 'e'}
Kumpulan nilai set3: {50, 20, 40, 10, 30}
Contoh set1 - set2:  {'n'}
Contoh set1 & set2:  {'l', 'a', 'k', 't', 'u', 'e'}
Contoh set1 | set2:  {'l', 'm', 'k', 'o', 't', 'u', 'y', 'r', 'a', 'b', 'n', 's', 'e'}
Contoh set1 ^ set2:  {'y', 'm', 'r', 's', 'b', 'n', 'o'}

In [ ]:
# Contoh perulangan for pada List
print("Perulangan FOR:")
for item in list_:
    print(item)

sets = {10, 20, 30, 40, 50}
for item in sets:
    print(item)

print("-" * 20) # garis pemisah ----------




print("Perulangan WHILE:")
i = 0
while i < len(list_):
    print(list_[i])
    i+1

while True:
  i+=1
  if i == 5:
    break
# Kondisi while akan terus berulang hingga kondisi terpenuhi atau diberhentikan secara paksa menggunakan break
print("-" * 20) # garis pemisah ----------




# Contoh perulangan lain FOR menggunakan DICTIONARY
my_dict = {'a': 1,
           'b': 2,
           'c': 3}

print("Perulangan FOR pada DICTIONARY:")
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")
# KEY mengambil nilai sebelah kiri
# VALUE mengambil nilai berdasarkan KEY
print("-" * 20)


# Contoh perulangan while pada Dictionary
print("Perulangan WHILE pada DICTIONARY:")
dict_keys = list(my_dict.keys())
j = 0
while j < len(dict_keys):
    key = dict_keys[j]
    value = my_dict[key]
    print(f"Key: {key}, Value: {value}")
    j += 1

Perulangan FOR:
50
20
40
10
30
--------------------
Perulangan WHILE:
--------------------
Perulangan FOR pada DICTIONARY:
Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3
--------------------
Perulangan WHILE pada DICTIONARY:
Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3

**Function** atau **Prosedur** adalah subprogram yang digunakan untuk memisahkan operasi dari program utama, Function dan Prosedur sering digunakan untuk memodulasi sebuah program menjadi beberapa subprogram yang terpisah sehingga mengurangi redudansi dan memudahkan abstraksi pada program utama

In [ ]:
# Syntax Function dan Prosedur Sederhana di Python

# Contoh Function
def func(a: int, b: int):
  sum = a + b
  if sum < 0:
    return "Negative"
  else:
    return "Positive"

result = func(12,  -1)
print(f"Pemanggilan func: {result}")


# Contoh Prosedur
def procedure(n):
  name = "Mahasiswa bernama " + n
  print(f"Terdapat {name}")

procedure("Budi Ariawati")


# Contoh Rekursif Function
def Fibonacci(n):
  if n == 0:
    return 1
  elif n == 1:
    return 0

  return Fibonacci(n-1) + Fibonacci(n-2)

n = 10
print("Contoh Rekursi Function Metode Fibonacci:\n")
print(f"Hasil Finbonacci {n} : {Fibonacci(n)}")

Pemanggilan func: Positive
Terdapat Mahasiswa bernama Budi Ariawati
Contoh Rekursi Function Metode Fibonacci:

Hasil Finbonacci 10 : 34

# Pembahasan Kedua:

- Class & Object

- Metode

**Class** adalah sebuah kode template yang berfungsi untuk menyimpan variabel dan banyak metode ke dalam sebuah **Object**

Lihat contoh berikut:

In [ ]:
class Province:    # Province adalah Class
  None

Orang = Province # Orang adalah Object

# Object Orang menyimpan template dari Class Province dan Object dapat menggunakan semua variabel dan semua metode yang ada di Class tersebut

Kalian dapat menyimpan banyak variabel dan metode ke dalam **Class** dan kemudian digunakan oleh object yang menyimpan **Class** tersebut

In [ ]:
class Province:
  nama_provinsi = "Jawa Barat"
  # nama_provinsi dapat digunakan di seluruh metode di dalam Class Province

  def merge():  # Class Province memiliki metode bernama merge()
    print("Saya tinggal di Indonesia, tepatnya di Provinsi " + Province.nama_provinsi)


Orang1 = Province
Orang1.merge()

Orang2 = Province
Orang2.merge()

Saya tinggal di Indonesia, tepatnya di Provinsi Jawa Barat
Saya tinggal di Indonesia, tepatnya di Provinsi Jawa Barat

Namun permasalahan kode di atas adalah semua **Object** yang mengambil template **Class** memiliki nilai yang sama, yaitu setiap **Objek** memiliki variabel nama_provinsi dengan nilai "Jawa Barat", ini menyebabkan redudansi data dalam Class dan kurangnya nilai unik yang membedakan nilai **Objek** 1 dengan **Objek** 2.
Untuk menyelesaikan permasalahan tersebut kita harus mengetahui cara kerja sebuah **Class**.

Ketika **Class** di panggil untuk pertama kalinya, hal pertama yang dibaca oleh **Class** adalah **Contructor**.
**Contructor** adalah sebuah metode spesial yang pertama kali dibaca oleh **Class** guna mengetahui variabel apa saja yang akan disimpan ke dalam **Class** itu sendiri.


---


Pada setiap metode yang ada di dalam **Class** mengambil parameter pertama berupa 'self', yang merupakan referensi nilai dari **Class** itu sendiri. Fungsi self digunakan untuk menyimpan nilai ke dalam **Object**, self digunakan untuk membedakan nilai object 1 dengan object lainnya.

Lihat contoh berikut:

In [ ]:
class Province:
  def __init__(self): # __init__ adalah nama spesial untuk Contructor
    self.n = ""

  def InputKota(self):
    self.n = input("Asal Kota: ")

  def PrintKota(self):
    print("Kota saya di ", self.n)


Orang1 = Province()
Orang1.InputKota()
Orang1.PrintKota()

# Walaupun kita menggunakan self sebagai parameter pertama di fungsi Class, namun parameter self tersebut tidak gunakan saat pemanggilan fungsi, hal itu karena self hanya sebagai jembatan untuk menyimpan data ke dalam Objek secara otomatis.


    #ERROR
Orang2 = Province
Orang2.PrintKota()
# Jika di run akan mengalami error, karena nilai yang ada di Object 'Orang2' berbeda dengan Object 'Orang1'

Asal Kota: Surabaya
Kota saya di  Surabaya

Jadi dapat disimpulkan bahwa self digunakan sebagai parameter pertama di sebuah metode dalam **Class** untuk membedakan nilai dari **Object** 1 dengan **Object** lainnya.

Penggunaan contoh lain dari self dapat dilihat melalui program berikut:

In [ ]:
# Program memiliki Class bernama Identitas
class Identitas:
  def __init__(self, nama, umur, status, tanggal_lahir):
    self.nama = nama      # nilai nama disimpan di variabel name
    self.umur = umur      # nilai umur disimpan di variabel age
    self.status = status  # nilai status disimpan di variabel state
    self.tanggal_lahir = tanggal_lahir # nilai tanggal_lahir disimpan di variabel birthday
    self.NIM = None

  # self dapat diakses di seluruh metode di dalam Class Identitas
  def printIdentitas(self):
    self.orang = 'budi'
    nama = self.orang
    print(f"Umur saya adalah   :\t {self.umur}")
    print(f"Status saya adalah :\t {self.status}")
    print(f"Tanggal lahir saya adalah : {self.tanggal_lahir}")
    print(f"NIM saya adalah :\t {self.NIM}")

  def InputNIM(self):
    self.NIM = int(input("Input NIM: "))
    self.printIdentitas()

# Program memiliki 2 Object bernama Orang1 dan Orang2
Orang1 = Identitas("Budi", 23, "Sudah Nikah", "10 Januari 2001")
Orang1.InputNIM()

print('\n')

#Orang2 = Identitas("Maria", 21, "Belum Nikah", "19 April 2004")
#Orang2.printIdentitas()

Input NIM: 123456
Umur saya adalah   :	 23
Status saya adalah :	 Sudah Nikah
Tanggal lahir saya adalah : 10 Januari 2001
NIM saya adalah :	 123456

Program di atas merupakan implementasi sederhana dari **Class**, tentunya setiap Metode di dalam **Class** dapat dimodifikasi sesuai kebutuhan programmer. Metode sendiri dapat berupa function yang mengembalikan nilai spesifik menggunakan 'return' atau berupa prosedur yang hanya menjalankan instruksi yang diberikan.

Pada pembahasan terakhir mengenai **Class**, kita akan mencari penggunaan Class di dalam Class atau bisa disebut **Nested Class**, **Nested Class** paling umum digunakan pada struktur data Linked List, dimana **Class** pertama merupakan List

In [ ]:
class kelas:
  def __init__(self, nama_kelas):
    self.nama_kelas = nama_kelas
    self.list_student = []

  class Student:
    def __init__(self, nama_mhs, umur, NIM):
      self.nama_mhs = nama_mhs
      self.umur = umur
      self.NIM = NIM

  def InsertMHS(self, nama, umur, NIM):
    mhs = self.Student(nama, umur, NIM)
    self.list_student.append(mhs)

  def Print(self):
    print(f"List of student: \n")
    while self.list_student :
      print("Mahasiswa: ", self.list_student)

kelas = kelas("Data Sains")
kelas.InsertMHS("Dio", 12, 1204230006)
kelas.Print()

# Pembahasan Ketiga

- Single Linked List

In [ ]:
class Node:
  def __init__(self, data):
    self.data = data
    self.next = None

class LinkedList:
  def __init__(self, nama):
    self.head = None
    self.nama = nama

  def append(self, data):
    node = Node(data)

    if self.head is None:
      self.head = node
      return

    current = self.head

    while current.next:
        current = current.next

    current.next = node

  def display(self):
    current = self.head
    while current:
      print(current.data, end=" → ")
      current = current.next
    print("None")


obj = LinkedList("Linked List Awal")
obj.append(12)
obj.append(1222)
obj.display()

12 → 1222 → None