In [1]:
class Kelas:
    def __init__(self, nama, jurusan, nim):
        self.nama = nama
        self.jurusan = jurusan
        self.nim = nim

    def tampilkan_info(self):
        print(f"Nama: {self.nama}")
        print(f"Jurusan: {self.jurusan}")
        print(f"NIM: {self.nim}")

# Contoh penggunaan kelas
mahasiswa = Kelas("Andi", "Informatika", "123456789")
mahasiswa.tampilkan_info()

Nama: Andi
Jurusan: Informatika
NIM: 123456789

In [2]:
class Mahasiswa:
    def __init__(self, nim, nama):
        self.nim = nim
        self.nama = nama

    def tampilkan_info(self):
        print(f"NIM: {self.nim}")
        print(f"Nama: {self.nama}")
        print()
# Contoh penggunaan kelas
mhs1 = Mahasiswa("123456789", "izaam")
mhs2 = Mahasiswa("987654321", "budi")

mhs1.tampilkan_info()
mhs2.tampilkan_info()

NIM: 123456789
Nama: izaam

NIM: 987654321
Nama: budi

In [ ]:
class Perpustakaan:
    def __init__(self, nama, nim, jenis_buku):
        self.nama = nama
        self.nim = nim
        self.jenis_buku = jenis_buku
        self.list_buku = []

    def insert(self):
        self.list_buku.append(self.nama)
        self.list_buku.append(self.nim)
        self.list_buku.append(self.jenis_buku)

    def display(self):
        for i in self.list_buku:
            print(i)

Perpustakaan = Perpustakaan("izaam", 8983938, "novel")
Perpustakaan.insert()
Perpustakaan.display()

izaam
8983938
novel

In [4]:
makanan = "nasi goreng"
minuman = "teh manis"
print(f"makanan saya {makanan} dan minuman saya {minuman}")

makanan saya nasi goreng dan minuman saya teh manis