KELOMPOK 6 - DEVISVE CLUSTERING
1
2
3
4
5

---

In [57]:
# Library Import
import os
import warnings
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import metrics
from scipy.stats import shapiro

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import statsmodels
import statsmodels.api as sm

In [58]:
df = pd.read_csv('data_penjualan.csv', sep=';')

df.head()

      Tanggal      Jenis Produk  Jumlah Order  Harga    Total
0  05/08/2022        Foodpak260          1000   1800  1800000
1  05/08/2022   FoodpakMatte245          1000   1900  1900000
2  05/08/2022  CraftLaminasi290          5000    750  3750000
3  05/08/2022  CraftLaminasi290          1000   1200  1200000
4  07/08/2022        Dupleks310          1000   1550  1550000

In [59]:
# Data Preprocessing
df = df.drop_duplicates()

# Ubah kolom numerik ke tipe data yang benar
df['Jumlah Order'] = pd.to_numeric(df['Jumlah Order'], errors='coerce')
df['Harga'] = pd.to_numeric(df['Harga'], errors='coerce')
df['Total'] = pd.to_numeric(df['Total'], errors='coerce')
df['Tanggal'] = pd.to_datetime(df['Tanggal'], dayfirst=True, errors='coerce')

# Cek missing value dan isi dengan 0
df.fillna(0, inplace=True)

# Agregasi per produk
aggr_df = df.groupby('Jenis Produk').agg({
    'Jumlah Order': 'sum',
    'Total': 'sum',
    'Harga': 'mean'
}).reset_index()
print(aggr_df.head())

# Standarisasi Data
scaler = StandardScaler()
num_cols = ['Jumlah Order', 'Harga', 'Total']
aggr_df_scaled = aggr_df.copy()
aggr_df_scaled[num_cols] = scaler.fit_transform(aggr_df[num_cols])
print(aggr_df_scaled.head())

            Jenis Produk  Jumlah Order    Total   Harga
0                    245          1000  1000000  1000.0
1              260Glossy          2000  4600000  2300.0
2              BOWL800ML          1000  2800000  2800.0
3           Bowl650mlCIS          5000  8500000  1700.0
4  CEMERLANGINDAHSELARAS          3000  5550000  1850.0
            Jenis Produk  Jumlah Order     Total     Harga
0                    245     -0.390244 -0.399084 -0.349078
1              260Glossy     -0.371095 -0.341952 -0.035914
2              BOWL800ML     -0.390244 -0.370518  0.084533
3           Bowl650mlCIS     -0.313650 -0.280059 -0.180451
4  CEMERLANGINDAHSELARAS     -0.351947 -0.326875 -0.144317