KELOMPOK 6 - DEVISVE CLUSTERING
1
2
3
4
5

---

In [3]:
# Library Import
import os
import warnings
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import metrics
from scipy.stats import shapiro

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import statsmodels
import statsmodels.api as sm

In [4]:
df = pd.read_csv('data_penjualan.csv')

df.head()

   Tanggal;Jenis Produk;Jumlah Order;Harga;Total
0        05/08/2022;Foodpak260;1000;1800;1800000
1   05/08/2022;FoodpakMatte245;1000;1900;1900000
2   05/08/2022;CraftLaminasi290;5000;750;3750000
3  05/08/2022;CraftLaminasi290;1000;1200;1200000
4        07/08/2022;Dupleks310;1000;1550;1550000

In [5]:
# Menghapus baris dengan nilai yang hilang
df = df.dropna()

# Menghapus duplikasi jika ada
df = df.drop_duplicates()

# Mengubah tipe data kolom numerik jika diperlukan
for col in df.select_dtypes(include='object').columns:
    try:
        df[col] = pd.to_numeric(df[col])
    except:
        pass

# Menampilkan hasil praproses
df.head()

   Tanggal;Jenis Produk;Jumlah Order;Harga;Total
0        05/08/2022;Foodpak260;1000;1800;1800000
1   05/08/2022;FoodpakMatte245;1000;1900;1900000
2   05/08/2022;CraftLaminasi290;5000;750;3750000
3  05/08/2022;CraftLaminasi290;1000;1200;1200000
4        07/08/2022;Dupleks310;1000;1550;1550000