In [8]:
# 1. Import Library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [9]:
# 2. Load Dataset
df = pd.read_csv('IceCreamData.csv')
df.head()

   Temperature     Revenue  Unnamed: 2
0    24.566884  534.799028         NaN
1    26.005191  625.190122         NaN
2    27.790554  660.632289         NaN
3    20.595335  487.706960         NaN
4    11.503498  316.240194         NaN

In [10]:
# Cek info data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  499 non-null    float64
 1   Revenue      499 non-null    float64
 2   Unnamed: 2   0 non-null      float64
dtypes: float64(3)
memory usage: 11.8 KB

In [11]:
df.describe()

       Temperature     Revenue  Unnamed: 2
count   499.000000  499.000000         0.0
mean     22.186598  520.612001         NaN
std       8.039908  174.264336         NaN
min       0.000000   10.000000         NaN
25%      17.111720  405.455916         NaN
50%      22.387604  528.380417         NaN
75%      27.724420  641.626340         NaN
max      42.515280  969.291630         NaN