In [1]:
import os
import sqlite3
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
conn = sqlite3.connect('CoffeeShop_Dataset.db')

In [3]:
df = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
df

               name
0      sales outlet
1  pastry inventory
2           product
3       generations
4    sales reciepts
5          customer

In [12]:
df = pd.read_sql_query("""
    SELECT p.product
    FROM 'sales reciepts' sr
    JOIN customer c ON sr.customer_id = c.customer_id
    JOIN product p ON sr.product_id = p.product_id
    WHERE c.gender = 'F'
    GROUP BY p.product
    ORDER BY COUNT(*) DESC """, conn)

df

                         product
0    Our Old Time Diner Blend Sm
1    Our Old Time Diner Blend Rg
2      Traditional Blend Chai Rg
3   Sustainably Grown Organic Lg
4                   Brazilian Sm
..                           ...
75                   Lemon Grass
76          Primo Espresso Roast
77         Spicy Eye Opener Chai
78                    Peppermint
79        Columbian Medium Roast

[80 rows x 1 columns]

In [17]:
df = pd.read_sql_query("""
    SELECT p.product
    FROM 'sales reciepts' sr
    JOIN customer c ON sr.customer_id = c.customer_id
    JOIN generations g ON c.birth_year = g.birth_year
    JOIN product p ON sr.product_id = p.product_id
    WHERE g.generation = 'Gen Z'
    GROUP BY p.product
    ORDER BY COUNT(*) DESC """, conn)
    
df

                      product
0               Peppermint Rg
1    Jamaican Coffee River Sm
2     Morning Sunrise Chai Lg
3                Brazilian Sm
4    Spicy Eye Opener Chai Rg
..                        ...
74                   Ethiopia
75             Espresso Roast
76     Columbian Medium Roast
77        Brazilian - Organic
78  I Need My Bean! Latte cup

[79 rows x 1 columns]