In [1]:
import os
import sqlite3
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
conn = sqlite3.connect('CoffeeShop_Dataset.db')

In [3]:
df = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
df

               name
0      sales outlet
1  pastry inventory
2           product
3       generations
4    sales reciepts
5          customer